{% extends "MiquelMemoBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }} | Mémos Techniques
{% endblock %}

{% block appbody %}

   <h1>man Memos</h1>
   <br />
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rutrum, ante at cursus malesuada, nibh velit ultrices purus, nec varius neque ligula id lorem. Suspendisse sem nibh, blandit ac pretium vel, pretium vitae massa. Cras consequat fermentum turpis, et aliquet dui euismod at. Aenean scelerisque tellus sed nulla dignissim malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque sodales erat, in porttitor dolor accumsan a. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi quis augue odio, condimentum euismod dui. Proin enim mauris, aliquam quis semper at, porttitor eget erat. Phasellus sed urna magna.</p>

   <p>Mauris libero mi, viverra eu laoreet eu, feugiat et ipsum. Aenean vehicula malesuada egestas. Sed fringilla convallis iaculis. Praesent molestie lacinia condimentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque commodo malesuada ornare. Integer viverra justo non velit dapibus commodo tincidunt felis gravida. Aenean id consequat velit.</p>

   <p>Nam id purus nec metus auctor molestie non vel ligula. In non lacus quis risus pulvinar vehicula. Donec accumsan lorem nibh, et tristique lacus. Vestibulum eget nibh elit. Integer ut mi nulla. Nullam vel erat et ante auctor molestie. Quisque volutpat porttitor placerat. Sed sed nulla eu sem blandit sagittis. Proin iaculis risus ut eros blandit placerat.</p>

   <p>Nam non arcu quis ligula rutrum accumsan. Mauris nec turpis vel nulla mattis pellentesque eu vel orci. Nulla congue egestas volutpat. Nam viverra metus sit amet lacus imperdiet porta. Sed rutrum, nunc eu iaculis sodales, urna tortor porttitor nunc, et semper leo dolor ut urna. Aliquam erat volutpat. Praesent at lorem est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas laoreet eleifend quam, a venenatis enim consectetur dapibus. Cras eleifend feugiat felis non pellentesque. Mauris viverra nunc a quam dapibus sit amet vehicula velit feugiat. Suspendisse vulputate metus at libero molestie pellentesque.</p>

   <p>Suspendisse in mauris in arcu dictum sollicitudin vitae vel metus. Proin ornare erat et augue malesuada aliquam. Donec ut nibh sed nisi ornare eleifend. In hac habitasse platea dictumst. Morbi et urna eget tellus consequat congue consectetur ac augue. Morbi volutpat dapibus ipsum. Mauris eget vehicula elit. Aliquam erat volutpat. Suspendisse aliquam ornare iaculis. Mauris rutrum ligula in arcu laoreet porta. Phasellus eu risus ipsum, vel aliquet risus.</p>
   
   <div class="alert alert-info">
       <button type="button" class="close" data-dismiss="alert">×</button>
       <h4 class="alert-heading">Hého !</h4>
       Tu croyais vraiment trouver de l'aide ici ?
   </div>
	
{% endblock %}