<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
       <title>{% block title %}Miquel.it {% endblock %}</title>
		
        
		{% stylesheets output='compiled/css/style.css' filter='cssrewrite'
			'bundles/miquelsite/css/bootstrap.css' 
			'bundles/miquelsite/css/bootstrap-responsive.css'
			'bundles/miquelsite/css/general.css'
		%}
		
			<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
		{% endstylesheets %}
		
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/ui-lightness/jquery-ui.css" type="text/css" />
		
		{% block stylesheets %}{% endblock %}
		
        <link rel="shortcut icon" href="{{ asset('bundles/miquelsite/favicon.ico') }}" />
    </head>
	
    <body>
		
      {% block navigation %}
         {% include "MiquelSiteBundle::navigation.html.twig" %}
      {% endblock %}
	
		
		{% block body %}{% endblock %}
        
		{% javascripts output='compiled/js/main.js'
			'@MiquelSiteBundle/Resources/public/js/libs/jquery-1.7.2.min.js'
			'@MiquelSiteBundle/Resources/public/js/libs/jquery-ui.min.js'
			'@MiquelSiteBundle/Resources/public/js/libs/bootstrap.js'
			'@MiquelSiteBundle/Resources/public/js/libs/jquery.ui.datepicker-fr.js'
			'@MiquelSiteBundle/Resources/public/js/script.js'
		%}

			<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
		
		{% block javascripts %}{% endblock %}

    </body>
	
</html>
