<div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      
      <a class="brand" href="{{ path('miquelsite_accueil') }}">Miquel.it</a>
      
      <div class="nav-collapse">
        <ul class="nav">
         <li class="divider-vertical"></li>
         <li><a href="{{ path('MiquelMemo_Accueil') }}">Mémos</a></li>
         <li><a href="{{ path('MiquelMemo_Accueil') }}">Liens</a></li>
         <li><a href="{{ path('miquelcv_accueil') }}">CV</a></li>
         
         <li><a href="#">Administration</a></li>
        </ul>
      </div>
     </div>
   </div>
  </div>